.time-line {
  background-color: #003a34;
}
.wrapper {
  padding: 80px 60px;
  .title-timeline {
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    color: #fff;
    margin-bottom: 40px;
  }
  .slide-time-line {
    .slider-nav {
      margin-bottom: 52px;
      .item {
        .number {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #15634a;
          color: #fff;
          display: block;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          margin-left: 25px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 213px;
            height: 6px;
            top: 40%;
            left: 23px;
            background-color: #15634a;
          }
        }
        p {
          padding-top: 14px;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: #fff;
          margin-bottom: 0;
        }
      }
      .slick-current {
        .item {
          .number {
            background-color: #f2ca8f;
          }
          p{
            color: #f2ca8f;
          }
        }
      }
    }
    .slider-for {
      .item-detail {
        padding: 40px;
        border-radius: 16px;
        border: 2px solid #f2ca8f;
        .head-title {
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          color: #f2ca8f;
          border-bottom: 1.5px solid #f2ca8f;
          padding-bottom: 24px;
          margin-bottom: 24px;
        }
        p {
          font-size: 14px;
          color: #ffffff;
          font-weight: 600;
          line-height: 24px;
          span {
            color: #f2ca8f;
            font-weight: 800;
          }
        }
      }
    }
  }
}
.wrapper {
  .slide-time-line {
    .slider-nav {
      .slick-slide {
        &:last-child {
          .item {
            .number {
              &::after {
                width: 0;
              }
            }
          }
        }
      }
    }
  }
}
